<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
<div style="width:20em;">
  <div class="input-group margin-bottom-sm">
  <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
  <%= f.email_field :email, placeholder: "Email address", :autofocus => true, class: "form-control" %>
	</div>

   <div class="input-group">
  <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
  <%= f.password_field :password, placeholder: "Password", class: "form-control" %></div>

   <div class="input-group">
  <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
  <%= f.password_field :password_confirmation, placeholder: "Password", class: "form-control" %></div>
</div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
