user: <%= @activity.activity %><br>

address: <%= @activity.address %><br>
lat: <%= @activity.latitude %><br>
lon: <%= @activity.longitude %><br>


email: <%= @email %><br>


ip_address: <%= @ip_address %><br>


ip_address search current location: <%= @s[0].address %><br>

ip_address search: <%= @activity.distance_to(@s[0].address) %><br>



<h3>Nearby Locations</h3>


<ul>
<% for location in @activity.nearbys(3000) %>
<li><%= link_to location.activity, location %> (<%= location.distance %>)miles</li>

<% end %>
</ul>





