user: <%= @activity.activity %><br>

address: <%= @activity.address %><br>
lat: <%= @activity.latitude %><br>
lon: <%= @activity.longitude %><br>

author:   <%= @activity.users[0].email %><br>


ip_address: <%= @ip_address %><br>

Activity id and User id == Current id: <%= @test_joining.activity_id %> and <%= @test_joining.user_id %>==<%= current_user.id %><br>


ip_address search current location: <%= @s[0].address %><br>

ip_address search distance: <%= @activity.distance_to(@s[0].address) %><br>


<h3>New Group</h3>
<%= @activity.users %><br>


With this submit I want to add a user to an activity

<form action="/activity_users" method="post">
	<input type="hidden" name="activity" value="<%=@activity.id%>">
	<input type="hidden" name="user" value="<%=@user.id%>">
	<button id="submit">Join Activity</button>

</form>



<h3>Nearby Activities</h3>


<ul>
<% for location in @activity.nearbys(3000) %>
<li><%= link_to location.activity, location %> (<%= location.distance %>)miles</li>

<% end %>
</ul>






