
user: <%= @activity.activity %><br>

address: <%= @activity.address %><br>
lat: <%= @activity.latitude %><br>
lon: <%= @activity.longitude %><br>

author:   <%= @activity.users[0].email %><br>


ip_address search current location: <%= @s[0].address %><br>

ip_address search distance: <%= @activity.distance_to(@s[0].address) %><br>


<h3>New Group</h3>
<% @activity.users.each do |x| %>
	<%= x.email %><br>
<% end %>

<% if current_user %>
<form action="/activity_users" method="post">
	<input type="hidden" name="activity" value="<%=@activity.id%>">
	<input type="hidden" name="user" value="<%=@user.id%>">
	<button class="btn btn-primary" id="submit">Join Activity</button>
	<input name="authenticity_token" 
                            type="hidden" 
                            value="<%= form_authenticity_token %>" />
</form>
<% else %>
	<%= link_to "Sign in to join", new_user_session_path, {:class => "btn btn-primary"} %>
<% end %>





<h3>Nearby Activities</h3>


<ul>
<% for location in @activity.nearbys(3000) %>
<li><%= link_to location.activity, location %> (<%= location.distance %>)miles</li>

<% end %>
</ul>

<div class="btn-group open">
  <a class="btn btn-primary" href="#"><i class="fa fa-user fa-fw"></i> User</a>
  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
    <span class="fa fa-caret-down"></span></a>
  <ul class="dropdown-menu">
    <li><a href="#"><i class="fa fa-pencil fa-fw"></i> Edit</a></li>
    <li><a href="#"><i class="fa fa-trash-o fa-fw"></i> Delete</a></li>
    <li><a href="#"><i class="fa fa-ban fa-fw"></i> Ban</a></li>
    <li class="divider"></li>
    <li><a href="#"><i class="i"></i> Make admin</a></li>
  </ul>
</div>






