<div class="show">
  <div class="container">
<h1><%= @activity.activity %></h1><br>

 <div class="container">
<div class="row col-md-6 col-md-*">
	<h3>Address:<small> <%= @activity.address %></small></h3><br>
	<h3>Author:<small> <%= @activity.users[0].email %></small></h3><br>
  <p><%= @activity.description %></p><br>
</div>

<div class="row col-md-6 col-md-*">
	<h3>Current Location:<small> <%= @s[0].address %></small></h3><br>
	<h3>Distance to:<small> <%= @activity.distance_to(@s[0].address).to_f.round(2) %></small></h3><br>
</div>
</div><br>



 <div class="container">




<div class="row col-md-6 col-md-*">
<img class="img-responsive img-rounded centered" src="http://maps.googleapis.com/maps/api/staticmap?center=<%= @activity.address %>&zoom=13&size=600x300&maptype=roadmap
&markers=color:red%7Clabel:A%7C<%= @activity.latitude %>,<%= @activity.longitude %>&markers=color:green%7Clabel:C%7C<%= @s[0].latitude %>,<%= @s[0].longitude %>&sensor=false" alt=""><br>


</div>

<div class="row col-md-6 col-md-* pull-right">

<h3>Active Group:</h3>
<% @activity.users.each do |x| %>
  <h6><%= x.email %></h6><br>
<% end %>

<% if current_user %>
<form action="/activity_users" method="post">
  <input type="hidden" name="activity" value="<%=@activity.id%>">
  <input type="hidden" name="user" value="<%=@user.id%>">
  <button class="btn btn-primary" id="submit">Join Activity</button>
  <input name="authenticity_token" 
                            type="hidden" 
                            value="<%= form_authenticity_token %>" />
</form>
<% else %>
  <%= link_to "Sign in to join", new_user_session_path, {:class => "btn btn-primary"} %>
<% end %>
</div>


</div><br>








<div class="row col-md-6 col-md-*">
<h3>Nearby Activities</h3>

<ul>
<% for location in @activity.nearbys(3000) %>
<li><%= link_to location.activity, location %> (<%= location.distance.to_f.round(2) %>)miles</li>

<% end %>
</ul>
</div>
</div>

</div>





