<!DOCTYPE html>
<html>
<head>
  <title>ActivityToDoApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<body>

  

<div class="container">

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Project name</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">


	<% if user_signed_in? %>
	<p>Welcome, <%= current_user.email %></p>
		<%= link_to "logout", destroy_user_session_path, method: :delete %>

	<% else %>
		<%= link_to "sign-in", new_user_session_path %>
		<%= link_to "sign-up", new_user_registration_path %>

	<% end %>



	<p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>






	<%= yield %>
</div>

</body>
</html>
