<!DOCTYPE html>
<html>
<head>
  <title>ActivityToDoApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>

<body>






<ul class="nav nav-pills pull-right">
  <% if user_signed_in? %>
    <li><%= button_to "Sign out", destroy_user_session_path, :method => :delete, :class => "btn btn-link" %></li>
  <% else %>
    <li><%= link_to "Sign in", new_user_session_path %></li>
    <li><%= link_to "Sign up", new_user_registration_path %></li>
  <% end %>
</ul>





	<p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>






	<%= yield %>


</body>

</html>
